body {
  margin-top: 0;
  margin-left: 20px;
  background-color: #D4ECDD;
}

hr {
  border: none;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 8%;
  border-color: #00A19D;
}

h1 {
  color: #00A19D;
}

h2 {
  color: #00A19D;
}

h3 {
  color: #00A19D;
}

.under-heading {
  font-size: 1.3rem;
}
img {
  position: relative;
  margin-right: auto;
}
.upper-container{
  height: 200px;
}
